# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
py_venv/
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

# Model files
model/*.pkl

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log